name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          persist-credentials: false
          fetch-depth: 0

      # 设置 Node.js 版本为 16
      - name: Setup Node.js 16
        uses: actions/setup-node@v2
        with:
          node-version: '16.x'

      # 安装依赖
      - name: Install and Build
        run: |
          npm install
          npm run build

      # 部署到个人阿里云服务器
      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@2.0.0
        env:
          FTP_SERVER: ${{ secrets.FTP_SERVER }}
          FTP_USERNAME: ${{ secrets.FTP_USERNAME }}
          FTP_PASSWORD: ${{ secrets.FTP_PASSWORD }}
          LOCAL_DIR: dist
          REMOTE_DIR: /
